*{
    box-sizing: border-box;
}

html{
    background-color: rgb(219, 219, 219);
    scroll-behavior: smooth;
}

body{
    font-family: 'comic Sans Ms', sans-serif;
    margin: 0;
}

header{
    background-color: rgb(26, 26, 26);
}

header .logo{
    margin: 0;
    padding: 10px;
    font-size: bold;
    color: rebeccapurple;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    padding-bottom: 5px;
}

header a{
    padding: 3px 5px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(15, 184, 184);
}

header a:hover{
    color: rgb(9, 80, 80);
}

#Gatoma{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("media/imagen-7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 533.3px 948px;
}


#Gatoma .container{
    padding: 200px 5px;
    color: rgb(255, 255, 255);
}

#Gatoma h1{
    font-size: 2.5em;
}

#Gatoma p{
    padding: 10px;
    font-size: 1.4em;
}

#Noticias{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("media/imagen-8.webp");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 533.3px 948px;
}

#Noticias .container{
    color: white;
}

#Noticias .containera{
    color: white;
}

#Noticias .container h1{
    font-size: 2em;
}

#Noticias .container p{
    font-size: 1.3em;
}

#Noticias .containera h1{
    font-size: 2em;
}

#Noticias .containera p{
    font-size: 1.3em;
}

#Juegos-Gratis{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("media/imagen-9.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 533.3px 948px;
}

#Juegos-Gratis .container{
    text-align: center;
    color: white;
}

#Juegos-Gratis .containera{
    text-align: center;
    color: white;
}

#Juegos-Gratis .container h1{
    text-align: center;
    font-size: 2em;
}

#Juegos-Gratis .container p{
    text-align: center;
    font-size: 1.3em;
}

#Juegos-Gratis .containera h1{
    text-align: center;
    font-size: 2em;
}

#Juegos-Gratis .containera p{
    text-align: center;
    font-size: 1.3em;
}

#Spam{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url("media/gatito.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 90vh;
}

#Spam .container{
    color: white;
}

#Spam h1{
    font-size: 2em;
    text-align: center;
}

#Spam p{
    text-align: center;
}

img{
    text-align: center;
    padding: 5px;
}

footer{
    margin: 0;
    padding: 5px;
    font-size: bold;
    background-color: rgb(26, 26, 26);
    color: rebeccapurple;
    text-align: right;
}